<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Marcos Galigarcia</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= nav_helper 'span', 'nav-link mx-3'%>

      <%= login_helper 'nav-link' %>

    </nav>
  </div>
</header>