<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<%= tag.p(number_to_phone '5555555555')%>
<%= tag.p(number_to_currency '150')%>
<%= tag.p(number_to_percentage '55.555')%>
<%= tag.p(number_with_delimiter '5555555555')%>
